@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');

@font-face {
    font-family: 'Din';
    src: url('../fonts/din/din-regular-webfont.eot');
    src: url('../fonts/din/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-regular-webfont.woff') format('woff'),
         url('../fonts/din/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Din';
    src: url('../fonts/din/din-bold-webfont.eot');
    src: url('../fonts/din/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-bold-webfont.woff') format('woff'),
         url('../fonts/din/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: 700;
    font-style: normal;
 }

 @font-face {
     font-family: 'BebasNeue';
     src: url('../fonts/bebas/BebasNeue-webfont.eot');
     src: url('../fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/bebas/BebasNeue-webfont.woff') format('woff'),
          url('../fonts/bebas/BebasNeue-webfont.ttf') format('truetype'),
          url('../fonts/bebas/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

$sans-serif: "Overpass", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif;