@import 'fonts';
$black: black;
$main: #FFCC33;
body {
    font-family: $sans-serif;
    color: $black;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
    font-family: 'BebasNeue';
    letter-spacing: 1px;
}

.center-block {
    float: none;
}

header {
    padding: 40px 0 0;
    background-color: transparent;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .3s linear;
    .logo {
        margin-right: 50px;
        float: left;
        img {
            height: 30px;
            width: auto;
            max-width: 100%;
        }
    }
    .nav {
        &.primary-nav {
            float: left;
        }
    }
    .nav li {
        display: inline-block;
        padding: 0;
        margin-right: 30px;
        transition: all 0.5s;
        font-family: 'BebasNeue';
        background: none;
        a {
            letter-spacing: 2px;
            font-size: 17px;
            color: white;
            text-transform: uppercase;
            padding: 0;
            background: none;
            &:hover,
            &:active,
            &:focus {
                background: none;
                color: $main;
            }
        }
        &.has-dropdown {
            position: relative;
            &:hover .nav-dropdown-wrap {
                opacity: 1;
                pointer-events: auto;
                top: 100%;
            }
            .icon {
                margin-left: 3px;
            }
        }
        &.nav-button {
            a {
                background: rgba(255, 255, 255, .1);
                padding: 7px 20px;
                border-radius: 3px;
                display: inline-block;
                margin-top: -7px;
                &:hover {
                    background-color: $black;
                }
            }
        }
        .nav-dropdown-wrap {
            padding-top: 22px;
            position: absolute;
            top: 85%;
            left: -22px;
            display: block;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease-in-out;
        }
        .nav-dropdown {
            min-width: 220px;
            background-color: $black;
            padding: 12px 0;
            border-radius: 3px;
            small {
                opacity: .3;
                letter-spacing: 1px;
            }
            li {
                width: 100%;
                padding: 2px 20px;
                font-size: 17px;
                letter-spacing: 1px;
            }
            .dropdown-country {
                display: block;
                padding: 0 20px;
                color: $main;
                font-size: 23px;
                letter-spacing: 1px;
                margin-top: 15px;
                &:first-child {
                    margin-top: 5px;
                }
            }
        }
    }
    &.is-fixed {
        padding: 20px 0 15px;
        .nav li .nav-dropdown {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
    &.black {
        background-color: $black;
        padding: 20px 0;
    }
    .menu-button,
    .mobile-menu {
        display: none;
    }
    .container {
        @media (min-width: 1200px) {
            width: 90%;
            max-width: 1600px;
        }
    }
}

h2 {
    margin-bottom: 45px;
    font-size: 32px;
    letter-spacing: 2px;
}

.button {
    background-color: $main;
    color: #0e0e0e;
    border-radius: 3px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    &:hover {
        color: #0e0e0e;
        text-decoration: none;
    }
}

.input-field {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border-radius: 3px;
    border: none;
    color: $black;
}

.full-width {
    width: 100%;
}

.pad-xs {
    padding: 0 2px;
}

.pad-sm {
    padding: 0 5px;
}

@-webkit-keyframes scale {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
}

@keyframes scale {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
}

#hero {
    background-color: $black;
    min-height: 650px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .bg-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: .765;
    }
    .hero-image-overlay {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/renders/2.jpg);
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }
    .hero-image {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 600px;
        margin: 0 auto;
        transform: translateY(-50%);
        @media (max-width: 529px) {
            width: 100%;
        }
    }
    .hero-text {
        color: white;
        h1 {
            margin-top: 225px;
            line-height: 1.5;
            font-size: 76px;
        }
        p {
            font-size: 28px;
            margin-top: 15px;
        }
        img {
            margin-top: 80px;
        }
    }
    &.subpage {
        min-height: 300px;
        .hero-text {
            h1 {
                margin-top: 180px;
                font-size: 45px;
            }
        }
        .image-overlay {
            opacity: .15;
        }
        background-color: $black;
    }
    .scroll-down {
        position: absolute;
        bottom: 45px;
        left: 0;
        width: 100%;
        z-index: 2;
        animation: scale 1.5s linear infinite;
        -webkit-animation: scale 1.5s linear infinite;
        .icon {
            font-size: 40px;
            color: white;
        }
    }
}

#sub {
    opacity: 0;
    transition: all 2s;
    color: #ccc;
}

.scroll-down {
    z-index: 22;
    position: relative;
    height: 55px;
    width: 100%;
    margin-top: -28px;
    text-align: center;
    z-index: 333;
    img {
        height: 100%;
    }
}

#mission {
    padding: 140px 0 140px;
    background-image: url(../img/renders/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .mission {
        line-height: 1.6;
        font-size: 21px;
        color: $black;
        background-color: white;
        padding: 60px 75px 75px;
        border-radius: 3px;
        p {
            color: #222;
            margin-bottom: none;
        }
    }
    .image-wrap {
        margin-top: 45px;
    }
    .image {
        margin-top: 10px;
        height: 400px;
        background-color: #aaa;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s;
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
        &.small {
            height: 195px;
        }
    }
}

#tagline {
    height: 170px;
    text-align: center;
    background-color: #000;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    margin-top: 45px;
    img {
        height: 100%;
        width: auto;
    }
}

.pad-v {
    padding-top: 75px;
    @media all and (max-width: 640px) {
        padding-top: 20px;
    }
}

#plans {
    padding: 100px 0;
    position: relative;
    .plans {
        padding-top: 45px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .intro {
        font-size: 18px;
        margin-bottom: 45px;
        line-height: 1.6;
        color: #444;
    }
    .plan {
        position: relative;
        text-align: center;
        border: 1px solid #eee;
        padding: 30px;
        min-height: 325px;
        h4 {
            text-transform: uppercase;
            letter-spacing: 0px;
            font-size: 16px;
            font-family: Din;
            font-weight: bold;
            color: $main;
            margin-bottom: 15px;
        }
        .image {
            background-color: transparent;
            height: 120px;
            width: 120px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            .icon {
                margin-top: 30px;
                font-size: 75px;
                color: $black;
            }
        }
        p {
            color: #777;
            font-size: 14px;
            line-height: 1.6;
        }
    }
    .all-plans {
        padding: 12px 45px;
        text-align: center;
        margin: 75px 0 30px 0;
    }
}

.hr {
    border-bottom: 1px solid #ddd;
}

#perks {
    padding: 100px 0;
    background-color: white;
    .perk {
        border: 1px solid #eee;
        color: #0e0e0e;
        font-size: 21px;
        height: 250px;
        margin-top: 10px;
        position: relative;
        background: white;
        p {
            padding: 10px 40px;
            font-size: 15px;
            line-height: 1.3;
            text-align: center;
            display: block;
            width: 100%;
        }
        .icon {
            height: 75px;
            width: 75px;
            margin: 60px auto 20px;
        }
        &.more {
            padding: 20px;
            text-align: center;
            p {
                margin-top: 20px;
                font-size: 17px;
                text-transform: none;
            }
            a {
                padding: 10px 20px;
                background: $main;
                font-size: 15px;
                color: #0e0e0e;
                border-radius: 3px;
            }
        }
    }
}

@-webkit-keyframes anim {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
}

@keyframes anim {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
}

.image-overlay {
    background-size: cover;
    background-position: center;
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .05;
    background-image: url(../img/lines-transparent.svg);
    animation: anim 300s infinite;
    -webkit-animation: anim 300s infinite;
}

#point {
    padding: 60px 0;
    background-color: #0e0e0e;
    color: white;
    position: relative;
    overflow: hidden;
    h2 {
        margin-bottom: 20px;
    }
    p {
        margin: 0 auto;
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 1.5;
        max-width: 500px;
    }
    a {
        padding: 12px 40px;
        font-size: 14px;
    }
}

#membership-plans {
    padding: 50px 0;
    h2 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 18px;
    }
    a {
        padding: 10px 45px;
        margin-bottom: 20px;
    }
}

// EVENTS PAGE
#events-hero {
    background: whitesmoke;
    padding: 150px 0 100px;
    h2 {
        margin-bottom: 15px;
    }
    p {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

#events {
    padding: 60px 0;
    .events {
        .event {
            padding: 45px;
            border-bottom: 1px solid #ddd;
            .image {
                height: 240px;
                background-color: #aaa;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                relative: position;
                .date {
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    background-color: $black;
                    color: white;
                    padding: 10px 15px;
                    text-align: center;
                    .day {
                        font-size: 30px;
                    }
                    .month {
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin-bottom: -5px;
                        text-transform: uppercase;
                    }
                    .time {
                        border-top: 1px solid #777;
                        padding-top: 6px;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }
            }
            .details {
                h2 {
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
                .fee,
                .location,
                .ticket {
                    font-size: 15px;
                    margin-bottom: 5px;
                    color: #222;
                }
                i {
                    margin-right: 10px;
                    color: $main;
                }
                p {
                    color: #444;
                    margin-bottom: 15px;
                    font-size: 15px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.hosting {
    padding: 100px 0;
    p,
    ul {
        font-size: 18px;
    }
    .book-event {
        margin-top: -5px;
        float: right;
    }
    .guidelines {
        > li {
            margin-bottom: 20px;
        }
    }
}

.no-events {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
    opacity: 0.4;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.m-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// BLOG PAGE
#blog-hero {
    background-color: #0e0e0e;
    min-height: 550px;
    position: relative;
    overflow: hidden;
    h1 {
        margin-top: 280px;
        font-size: 48px;
        color: white;
        margin-bottom: 30px;
    }
    .author,
    .date {
        display: inline-block;
        font-size: 16px;
        color: #aaa;
        margin-right: 20px;
    }
    .author {
        color: $main;
    }
    i {
        margin-right: 10px;
    }
    .blog-image-overlay {
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%), url(../img/blog1.jpeg);
    }
    .bg-overlay {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

#blog-posts {
    padding: 30px 0 120px;
    background-color: white;
    a:hover {
        text-decoration: none;
    }
    .posts {
        .post {
            background-color: white;
            border: 1px solid #e8e8e8;
            margin-top: 30px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            transition: all 0.3s;
            .image {
                background-color: #aaa;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                relative: position;
                height: 175px;
            }
            .details {
                padding: 20px 30px;
                i {
                    margin-right: 3px;
                }
                h3 {
                    font-size: 21px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: $black;
                }
                p {
                    font-size: 14px;
                    line-height: 21px;
                    max-height: 64px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    color: #444;
                }
            }
            .author,
            .date {
                display: inline-block;
                font-size: 14px;
                margin-right: 15px;
            }
            .date {
                color: $black;
            }
            .author {
                color: $main;
            }
            &:hover {
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
                cursor: pointer;
                transform: translateY(-3px);
                -webkit-transform: translateY(-3px);
            }
        }
    }
}

// FAQ PAGE
#faqs {
    padding: 150px 0;
    .faq {
        padding: 30px;
        padding-left: 75px;
        position: relative;
        transition: all 0.3s;
        margin-top: 30px;
        .icon {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color: #ddd;
            text-align: center;
            padding-top: 13px;
            top: 30px;
            left: 0px;
            position: absolute;
            transition: all 0.3s;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 15px;
            line-height: 1.4;
            font-size: 21px;
        }
        p,
        li {
            color: #666;
            line-height: 1.7;
        }
        &:hover {
            .icon {
                color: white;
                background-color: $black;
            }
            p,
            li {
                color: #222;
            }
        }
    }
}

#mission-page {
    padding: 50px 0 100px;
    p {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

#career,
#contact {
    padding: 180px 0 150px 0;
}

.career p {
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.6;
}

.contact {
    padding: 0 20px;
    p {
        font-size: 18px;
        margin-bottom: 20px;
        a {
            color: $black;
        }
        .contact-label {
            display: block;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: .5px;
            margin-bottom: 2px;
            font-weight: normal;
            color: #777;
        }
    }
    .icons {
        a {
            font-size: 30px;
            color: $main;
            margin-right: 10px;
        }
    }
}

#blog-post {
    padding: 180px 0 150px 0;
    h1.title {
        margin-bottom: 20px;
    }
    .post {
        margin-top: 60px;
        .img {
            width: 100%;
            height: auto;
            margin: 45px 0;
        }
    }
    .meta {
        font-size: 14px;
        .author {
            color: $main;
            margin-right: 30px;
        }
        .fa {
            margin-right: 10px;
        }
    }
    .post p {
        font-size: 18px;
        margin-top: 30px;
        line-height: 1.6;
    }
}

// PLANS PAGE
#plans-hero,
#about-hero,
#generic-hero {
    background-color: #0e0e0e;
    min-height: 640px;
    color: white;
    position: relative;
    overflow: hidden;
    .plans-image-overlay,
    .about-image-overlay,
    .generic-image-overlay {
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    .bg-overlay {
        background-color: rgba(0, 0, 0, 0.8);
    }
    h1 {
        margin-top: 230px;
        font-size: 42px;
        margin-bottom: 45px;
    }
    p {
        font-size: 22px;
        line-height: 1.4
    }
}

#generic-hero {
    min-height: 400px;
}

#about-hero,
#generic-hero {
    .hero-text {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 600px;
        margin: 0 auto;
        transform: translateY(-50%);
        @media (max-width: 529px) {
            width: 100%;
        }
    }
}

#plans-table {
    padding: 75px 0 90px;
    background-color: white;
    border-top: 1px solid #f2f2f2;
    h2 {
        // color: $main;
    }
    .table {
        margin-top: 75px;
    }
    thead th {
        // color: $black;
        color: $main;
        text-transform: uppercase;
        padding: 10px;
        border-color: $black;
        text-align: center;
    }
    tbody td {
        color: #555;
        padding: 12px;
        text-align: center;
        border-color: #f2f2f2;
        &.title {
            padding-top: 15px;
            color: $black;
            text-align: left;
        }
        &.checked {
            font-size: 27px;
            color: $main;
            line-height: 12px;
            &:before {
                content: "\f3fd";
                display: inline-block;
                font-family: "Ionicons";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                // padding-left: 5px;
            }
        }
    }
    tbody tr:nth-child(odd) {
        background-color: #fafafa;
    }
}

#detailed-plans {
    background-color: #f6f4f5;
    margin-top: -25px;
    padding: 90px 0;
    .no-pad {
        padding: 0;
    }
    .detailed-plans {
        .detailed-plan {
            background-color: $main;
            margin-top: 30px;
            margin-right: 12px;
            margin-left: 12px;
            border-radius: 6px;
            .plan-header {
                height: 0;
                padding-bottom: 85%;
                position: relative;
                background-size: cover;
                -webkit-background-size: cover;
                border-radius: 6px 6px 0 0;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 6px 6px 0 0;
                }
                &-text {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    z-index: 10;
                    color: white;
                }
            }
            .image {
                height: 120px;
                width: 120px;
                display: block;
                margin: auto;
                margin-bottom: 25px;
                margin-top: 25px;
                // opacity: .8;
                background-image: url(../img/ws-icons-2.svg);
            }
            h3 {
                text-transform: uppercase;
                margin-bottom: 0;
                margin-top: 0;
                font-size: 28px;
            }
            .price {
                font-size: 15px;
                font-weight: bold;
            }
            .alt {
                margin-top: 10px;
                font-size: 16px;
                color: #888;
                font-weight: bold;
                min-height: 18px;
                font-family: $sans-serif;
            }
            .hours {
                color: #888;
                font-weight: bold;
                margin-top: 30px;
                &:before {
                    content: 'Hours';
                }
            }
            .services {
                .service {
                    color: $black;
                    margin: 0;
                    border: solid 1px #e0ae19;
                    border-width: 0 0 1px 0;
                    padding: 25px;
                    font-size: 16px;
                    &-label {
                        display: block;
                        text-transform: uppercase;
                        font-size: 11px;
                        letter-spacing: .5px;
                        margin-bottom: 2px;
                        font-weight: normal;
                        color: #777;
                    }
                }
            }
            .description {
                margin-top: 15px;
            }
            p {
                color: #555;
                font-size: 15px;
                line-height: 1.5;
                padding: 0 12px;
                margin-bottom: 15px;
            }
            h5 {
                margin-top: 30px;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
            ul.added-perks {
                padding-left: 15px;
                color: #444;
                li {
                    line-height: 1.6;
                    list-style: circle;
                }
            }
            .button-wrap {
                padding: 25px;
            }
            a.sign-up {
                padding: 7px 25px;
                text-align: center;
                background: $black;
                color: $main;
            }
        }
    }
}

// MEMBERSHIP PAGE
#values {
    padding: 120px 0 120px;
    .value {
        padding: 20px 30px;
        font-size: 16px;
        margin-top: 30px;
        // text-align: center;
        background-color: white;
        line-height: 1.6;
        .image {
            height: 90px;
            margin-bottom: 45px;
            opacity: .9;
            text-align: center;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

//FOOTER
footer {
    padding-bottom: 75px;
    padding-top: 20px;
    background-color: $black;
    color: white;
    font-size: 14px;
    h2 {
        margin-bottom: 10px;
    }
    p.sub {
        color: #aaa;
    }
    .text-md {
        font-size: 18px;
    }
    .m-b-sm {
        margin-bottom: 45px;
    }
    .m-t-lg {
        margin-top: 95px;
    }
    a.link {
        padding: 0 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        display: inline-block;
        margin-bottom: 10px;
        transition: color 0.3s;
        text-decoration: none;
        &:hover {
            color: $main;
        }
    }
    .muted {
        opacity: .6;
    }
    .icons {
        font-size: 21px;
    }
    .hr {
        margin-top: 15px;
        margin-bottom: 30px;
        opacity: 0.1;
    }
    .copyright {
        // margin-left: 45px;
        margin-top: 10px;
        color: #777;
        a {
            margin-left: 10px;
            color: white;
        }
    }
    .phone {
        margin-top: 15px;
        font-size: 15px;
    }
    .dot {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        height: 4px;
        width: 4px;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 50%;
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 25px 0 0;
    }
    .nav {
        display: none;
    }
    #hero .hero-text .img {
        margin-top: 200px;
    }
    header {
        .menu-button {
            display: block;
            min-height: 100px;
            position: absolute;
            right: 20px;
            top: 25px;
            .bar {
                min-height: 3px;
                width: 40px;
                background-color: white;
                margin-bottom: 8px;
                z-index: 3;
            }
        }
        .mobile-menu {
            margin-top: 10px;
            display: block;
            opacity: 1;
            transition: all 0.5s;
            &.closed {
                opacity: 0;
                display: none;
            }
            .mobile-nav {
                background-color: $black;
                padding: 60px 0;
                li {
                    list-style: none;
                    text-transform: uppercase;
                    color: white;
                    font-size: 24px;
                    padding: 15px 0;
                    margin-bottom: 15px;
                    a {
                        color: white;
                    }
                    &.alt {
                        border: 1px solid white;
                        padding: 15px 20px;
                        border-radius: 3px;
                        margin-bottom: 30px;
                        &:hover {
                            background-color: #777;
                            cursor: pointer;
                            border-color: transparent;
                        }
                    }
                    &.signup {
                        border-color: transparent;
                        background-color: $main;
                    }
                }
                .has-dropdown {
                    .nav-dropdown {
                        display: none;
                    }
                    &.active .nav-dropdown {
                        display: block;
                        padding: 15px 0;
                        border-bottom: 2px solid rgba(255, 255, 255, .1);
                        small {
                            opacity: .3;
                        }
                    }
                    .nav-dropdown-toggle {
                        transition: color .3s;
                        text-decoration: none;
                        .icon {
                            margin-left: 3px;
                        }
                    }
                    &.active .nav-dropdown-toggle {
                        // color: $main;
                        opacity: 0.5;
                    }
                    li {
                        font-size: 15px;
                        padding: 5px 0;
                    }
                }
                .dropdown-country {
                    margin-top: 20px;
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    color: $main;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    #plans .plans .plan {
        margin-bottom: 30px;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
        min-height: auto;
    }
    .no-pad,
    .pad-xs {
        padding: 0 20px;
    }
    .input-field {
        margin-bottom: 15px;
        padding: 15px 10px;
    }
    .button {
        padding: 15px 10px;
    }
    footer .copyright {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width: 529px) {
    header .menu-button .bar {
        min-height: 2px;
        width: 25px;
        background-color: white;
        margin-bottom: 5px;
        z-index: 3;
    }
    header .mobile-menu .mobile-nav {
        padding: 5px 30px;
        li {
            font-size: 18px;
            margin-bottom: 0;
            &.alt {
                padding: 10px 20px;
                margin-bottom: 20px;
            }
        }
    }
    #hero .hero-text .img {
        margin-top: 140px;
    }
    #mission {
        padding: 45px 0;
    }
    #mission .mission {
        padding: 30px 20px;
        font-size: 16px;
    }
    #plans .plans .plan {
        margin-bottom: 15px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
    }
    #plans-hero h1 {
        margin-top: 120px;
        font-size: 36px;
    }
    #events .events .event {
        padding-left: 0;
        padding-right: 0;
    }
}

.copy-section {
    line-height: 1.6;
    font-size: 15px;
    strong {
        color: $black;
    }
    p {
        margin-bottom: 25px;
        color: $black + #111;
    }
    ul {
        padding-left: 20px;
        margin-bottom: 30px;
        &.no-bullets {
            list-style: none;
        }
    }
    ol {
        padding-left: 15px;
        margin-bottom: 30px;
    }
    li {
        margin-bottom: 15px;
    }
    h3 {
        margin-top: 60px;
        margin-bottom: 25px;
    }
    h4 {
        margin-bottom: 15px;
        font-family: Overpass;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 15px;
    }
}

.signup-tab {
    max-width: 650px;
    margin: 0 auto 80px;
    .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Utility
.text-right-sm {
    @media all and (min-width: 767px) {
        text-align: right;
    }
}

// Loader
.loader-wrap {
    position: relative;
    height: 100px;
    width: 100%;
}

.loader,
.loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    overflow: visible;
    padding-top: 2em;
    height: 0;
    width: 2em;
}

.loader__figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid $main;
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0.5em 0 0 50%;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #8d3b3e;
    white-space: nowrap;
    -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 2em;
        width: 2em;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
    }
}

@-moz-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 2em;
        width: 2em;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
    }
}

@keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 2em;
        width: 2em;
        border-width: 1em;
        opacity: 1;
    }
    100% {
        height: 2em;
        width: 2em;
        border-width: 0;
        opacity: 0;
    }
}

@-webkit-keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}

@-moz-keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}

@keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}
