
@font-face {
    font-family: 'DINBold';
    src: url('din-bold-webfont.eot');
    src: url('din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-bold-webfont.woff') format('woff'),
         url('din-bold-webfont.ttf') format('truetype'),
         url('din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINLight';
    src: url('din-light-webfont.eot');
    src: url('din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-light-webfont.woff') format('woff'),
         url('din-light-webfont.ttf') format('truetype'),
         url('din-light-webfont.svg#DINLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { 
    font-family: 'DINRegular';
    src: url('din-regular-webfont.eot');
    src: url('din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-regular-webfont.woff') format('woff'),
         url('din-regular-webfont.ttf') format('truetype'),
         url('din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINBlack';
    src: url('din-black-webfont.eot');
    src: url('din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-black-webfont.woff') format('woff'),
         url('din-black-webfont.ttf') format('truetype'),
         url('din-black-webfont.svg#DINBlack') format('svg');
    font-weight: normal;
    font-style: normal;
